[mysqld]
pid-file				= /var/run/mysqld/mysqld.pid
socket					= /var/run/mysqld/mysqld.sock
log_bin					= /var/lib/mysql/mysql-bin
user					= mysql
bind-address			= 0.0.0.0
general_log				= 0
max_connections			= 300
innodb_dedicated_server	= ON
max_allowed_packet		= 2G
innodb_log_buffer_size	= 32M
innodb_buffer_pool_size	= 7G
innodb_log_file_size	= 768M
sql_mode				= "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
